{
  "printWidth": 120,
  "tabWidth": 2,
  "tabs": false,
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf"
}