.appbar {
    -webkit-app-region: drag;
}

html body #root {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    font-family: 'Inter Variable', sans-serif;
    user-select: none;
}

p {
    user-select: text;
}

*:focus-visible {
    outline: none !important;
    box-shadow: unset !important;
}
